
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    @Html.ActionLink("Server-Side Validation", "ServerSide")
</div>
<div>
    @Html.ActionLink("Unobtrusive Validation", "Unobtrusive")
</div>